---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Sometimes working in Product, Analytics, Marketing, and Research.
      <br>
      With a lot of help from these tools:
      <ul class="list-disc list-inside">
        <li role="link">Framer</li>
        <li role="link">Figma</li>
        <li role="link">ChatGPT</li>
        <li role="link">Atlassian</li>
        <li role="link">Notion</li>
        <li role="link">Google Docs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I previously work from diverse background in logistics, FMCG, SMEs, and energy, 
      Currently, I'm focus on making public policy accessible at Think Policy and 
      aiming to increase youth participation in Indonesia through
      bijakmemilih.id
    </p>
  </div>
</Card>
