---
import { getCurrentTimeInJakarta, formatTimeForJakarta } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { formatTimeForJakarta } from "../lib/helpers";

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    if (timeDisplay) {
      timeDisplay.textContent = formatTimeForJakarta(new Date());
    }
  }

  setInterval(updateClock, 1000);
</script>

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-1" title="Time zone">
  <h4
    id="timeDisplay"
    class="text-5xl w-full h-[calc(100%-28px)] font-serif flex justify-center items-center"
  >
    {formatTimeForJakarta(getCurrentTimeInJakarta())}
  </h4>
</Card>
